// Colors
$primary: #20733d;
$secondary: #d9a404;
$info: #060273;

// Buttons
$btn-border-radius: 10rem;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

// Fonts
$font-family-base: 'BAAC17';
$font-size-base: 1.5rem;
$line-height-base: 1;